{{ 'collection-featured-product.css' | asset_url | stylesheet_tag }}
<section class="coll-feature-section" style="background-color:{{section.settings.vbackground}};background-image:url({{section.settings.fbackground | img_url}});">
 <div class="section-container">
        {% if  section.settings.vimage != blank %}
        <div class="feature-media">
            <img src="{{ section.settings.vimage | image_url }}">
        </div>
        {% endif %}
        {% if  section.settings.vtext != blank %}
            <div class="feature-text">
                <p><span class="featuredscroll-title">{{ section.settings.scrollpro }}</span> <img src="{{ section.settings.scrollimage | img_url }}" > {{ section.settings.vtext }} <span class="featuredscroll-title">{{ section.settings.scrollpro }}</span> <img src="{{ section.settings.scrollimage | img_url }}" > {{ section.settings.vtext }} <span class="featuredscroll-title">{{ section.settings.scrollpro }}</span> <img src="{{ section.settings.scrollimage | img_url }}" > {{ section.settings.vtext }} <span class="featuredscroll-title">{{ section.settings.scrollpro }}</span> <img src="{{ section.settings.scrollimage | img_url }}" > {{ section.settings.vtext }}</p>
            </div>
        {% endif %}

    <div class="feature-bar">
        {%if section.settings.feature-title != blank %}
        <div class="feature-title">
            {{ section.settings.feature-title }}
        </div>
        {% endif%}
        {%if section.settings.feature-button != blank %}
        <div class="feature-button">
            <a href="{{ section.settings.feature-buttonurl }}" class="btn">{{ section.settings.feature-button }}</a>
        </div>
        {% endif%}
    </div>
 </div>
</section>

{% schema %}
{
  "name": "Collection Featured Pro",
  "settings": [
    {
      "type": "image_picker",
      "id": "vimage",
      "label": "Feature Image"
    },
    {
        "type": "text",
        "id": "vtext",
        "label": "Feature Scroll Text"
    },
   {
      "type": "text",
      "id": "scrollpro",
      "label": "Feature Product Name"
   },
   {
      "type": "image_picker",
      "id": "scrollimage",
      "label": "Feature Product icon"
   },
   {
     "type": "image_picker",
     "id": "fbackground",
     "label": "Background Image"
   },
   {
   "type": "color",
   "id": "vbackground",
   "label": "Background Color"
     },
     {
         "type": "text",
         "id": "feature-title",
         "label": "feature Title"
       },
     {
       "type": "text",
       "id": "feature-button",
       "label": "Feature button Text"
     },
     {
       "type": "url",
       "id": "feature-buttonurl",
       "label": "Feature Button url"
     }
    ],
    "presets": [
      {
        "name": "Collection Featured Product"
      }
   ]
}
{% endschema %}