<style>

</style>
<section class="collections_section">
    <div class="section_container">
        <div class="section_header">
            <h1>{{ section.settings.headingtext }}</h1>
        </div>
        <div class="section_content">
            <div class="collection_content">
               {%- for block in section.blocks -%}
                    <a class="single_collection full-unstyled-link" href="{{ block.settings.collection.url }}">
                      <span class="coll-h"> {{ block.settings.collectiontitle }} 
                        <span class="coll-p"> {{ block.settings.collection.products_count }} </span>
                      </span> 
                      <!-- {% if block.settings.collectionimage != blank %}
                      {% include 'icons-3d' id: block.settings.collectiontitle, url: block.settings.collectionimage %}
                      {% endif %} -->
                      <img src="{{ block.settings.collectionimage | image_url }}">
                    </a>
               {%- endfor -%}
            </div>
        </div>
    </div>

</section>
{% schema %}
{
  "name": "Explore Collections",
  "settings": [
    {
      "type": "text",
      "id": "headingtext",
      "label": "Heading",
      "default": "Explore our Collections"
    }
    ],
  "blocks": [
    {
      "type": "explore_collection",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
           "type": "text",
           "id": "collectiontitle",
           "label": "Collection Title"
       },
       {
         "type": "image_picker",
         "id": "collectionimage",
         "label": "Collection Image"
       }
      ]
    }
  ],
    "presets": [
      {
        "name": "Explore Collections"
      }
      ]
}
{% endschema %}