<link rel="stylesheet" href="{{ 'high-minded-winking.css' | asset_url }}" >
<section class="high-minded-winking-section" id="high-minded-winking-section">
  <div class="high-minded-winking">
    <div class="row content_row">
      <div class="col-8 col-md-8 content_block">
        <div class="left-content">
          {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}
              {% if section.settings.image != blank %}
                <img src="{{section.settings.image | img_url : 'master'}}">
              {% endif %}
            </h2>
          {% endif %}
        </div>
      </div>
      <div class="col-4 col-md-4 empty_block">&nbsp;</div>
    </div>
    <div class="row content_row">
      <div class="col-12 col-md-12 content_block">
        <div class="left-content">
          {% if section.settings.heading != blank %}
            <h3>{{ section.settings.heading }}
              {% if section.settings.linkurl != blank and section.settings.linktext != blank %}
                <a href="{{ section.settings.linkurl }}">{{ section.settings.linktext }}</a>
              {% endif %}
            </h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "High Minded Winking",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "url",
        "id": "linkurl",
        "label": "Link URL"
      }, {
        "type": "text",
        "id": "linktext",
        "label": "Link Text"
      }
    ],
    "presets": [
      {
        "name": "High Minded Winking"
      }
    ]

  }
{% endschema %}