{%- style -%}
  .newsletter{
    background-color:{{ section.settings.color_scheme }};
    color:#fff;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_topm }}px;
    padding-bottom: {{ section.settings.padding_bottomm }}px;
    padding-left: {{ section.settings.padding_leftm }}px;
    padding-right: {{ section.settings.padding_rightm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-left: {{ section.settings.padding_left }}px;
      padding-right: {{ section.settings.padding_right }}px;
    }
  }
{%- endstyle -%}
<section class="blogs-section section-{{ section.id }}-padding"  style="background-color:{{section.settings.blogbackground}};">
 <div class="section-container">
    <div class="blogs-header">
        <div class="header-copycontent">
        {%if section.settings.explore-title != blank %}
        <div class="header-title">
            {{ section.settings.explore-title }}
        </div>
        {% endif%}
         {%if section.settings.blog-copy != blank %}
            <div class="blog-copy">
                <p class="copy-content">{{ section.settings.blog-copy }}</p>
            </div>
            {% endif%}
        </div>
        {%if section.settings.explore-button != blank %}
        <div class="header-button">
            <a href="{{ section.settings.explore-buttonurl }}" class="btn">{{ section.settings.explore-button }}</a>
        </div>
        {% endif%}
    </div>

    <div class="all-blogs">
        <div class="blogs-singlewithscroll">
            <div class="blog-single">
                {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                    {% if forloop.index == 1  %}
                    <div class="{{ forloop.index }}">
                      {% render 'article-card',
                        blog: section.settings.blog,
                        article: article,
                        media_aspect_ratio: 1.66,
                        show_image: section.settings.show_image,
                        show_date: section.settings.show_date,
                        show_author: section.settings.show_author,
                        show_excerpt: true
                      %}
                      </div>
                    {% endif %}
                {%- endfor -%}
            </div>
            <div class="blog-scroll">
                {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                    {% if forloop.index > 1 and forloop.index < 5 %}
                    <div class="{{ forloop.index }}">
                      {% render 'article-card',
                        blog: section.settings.blog,
                        article: article,
                        media_aspect_ratio: 1.66,
                        show_image: section.settings.show_image,
                        show_date: section.settings.show_date,
                        show_author: section.settings.show_author,
                        show_excerpt: true
                      %}
                    </div>
                   {% endif %}
                {%- endfor -%}
            </div>
        </div>
        <div class="blogs-loop">
            {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                {% if forloop.index > 4 %}
                <div class="{{ forloop.index }}">
                  {% render 'article-card',
                    blog: section.settings.blog,
                    article: article,
                    media_aspect_ratio: 1.66,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true
                  %}
                  </div>
                {% endif %}
            {%- endfor -%}
        </div>
    </div>
 </div>
</section>

{% schema %}
{
  "name": "Home Blog",
  "settings": [
     {
       "type": "color",
       "id": "blogbackground",
       "label": "Blogs Background"
     },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_left",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding left",
        "default": 30
      },
       {
         "type": "range",
         "id": "padding_right",
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px",
         "label": "Padding Right",
         "default": 30
       },
       {
         "type": "range",
         "id": "padding_topm",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Mobile Padding Top",
         "default": 20
       },
       {
         "type": "range",
         "id": "padding_bottomm",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Mobile Padding Bottom",
         "default": 20
       },
       {
         "type": "range",
         "id": "padding_leftm",
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px",
         "label": "Mobile Padding left",
         "default": 20
       },
        {
          "type": "range",
          "id": "padding_rightm",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Mobile Padding Right",
          "default": 20
        },
     {
         "type": "text",
         "id": "explore-title",
         "label": "Explore Title",
         "default": "Evergreen"
       },
     {
       "type": "text",
       "id": "explore-button",
       "label": "Explore button Text"
     },
     {
       "type": "url",
       "id": "explore-buttonurl",
       "label": "Explore Button url"
     },
   {
     "type": "textarea",
     "id": "blog-copy",
     "label": "Blog Section Copy Content"
   },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
     {
       "type": "range",
       "id": "post_limit",
       "min": 2,
       "max": 30,
       "step": 1,
       "default": 3,
       "label": "t:sections.featured-blog.settings.post_limit.label"
     },
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_image.label",
        "info": "t:sections.featured-blog.settings.show_image.info"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_date.label"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "t:sections.featured-blog.settings.show_author.label"
      }

    ],
    "presets": [
      {
        "name": "Home Blogs"
      }
   ]
}
{% endschema %}