{{ 'stockists-head.css' | asset_url | stylesheet_tag }}
<section class="stockists-section" id="stockists-section">
    <div class="stockists">
      <div class="row title_content_row">
        <div class="col-12 col-md-12 title_content_block">
          <div class="left-content">
            {% if page.title != blank %}
              <h1>{{ page.title }}</h1>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row heading_content_row">
        <div class="col-3 col-md-3 empty_block">&nbsp;</div>
        <div class="col-9 col-md-9 heading_content_block">
          <div class="left-content">
            <div class="tab">
              {%- for block in section.blocks -%}
                {% case block.type %}
                  {% when 'tab_headings' %}
                  <button class="tablinks {% if forloop.index == 1 %}active{% endif %}" onclick="openTab(event, '{{ block.settings.heading }}')">{{ block.settings.heading }}</button>
                {% endcase %}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
      {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'tab_headings' %}
          <div
            id="{{ block.settings.heading }}"
            class="tabcontent"
            {% if forloop.index == 1 %}style="display: block"{% endif %}>
            {% if block.settings.heading == "Print" %}
              <div class="row">
                <div class="col-3 side-bar-row">
                  <div class="side-bar">
                    <nav class="navigation">
                      <ul>
                        <li>
                          {%- for block in section.blocks -%}
                            {% case block.type %}
                              {% when 'print_headings' %}
                              {% if block.settings.print_title != blank %}
                                <a href="#{{ block.settings.print_title | replace: ' ','_' }}" class="{% if forloop.index == 1 %} active {% endif %}">{{ block.settings.print_title }}</a>
                              {% endif %}
                            {% endcase %}
                          {% endfor %}
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-9">
                  <div class="right-section">
                    <div class="main-content">
                      <div class="row">
                        {%- for block in section.blocks -%}
                          {% case block.type %}
                            {% when 'print_headings' %}
                            {% if block.settings.print_subtitle != blank %}
                              <div class="col-md-12 stockists-right-section {% unless block.settings.print_subtitle != blank %} no_headings {% endunless %} {% if forloop.index == 1 %}active{% endif %}" id="{{ block.settings.print_title | replace: ' ','_' }}">
                                {% if block.settings.print_subtitle != blank %}
                                  <h2>{{ block.settings.print_subtitle }}</h2>
                                {% endif %}
                              </div>
                            {% endif %}
                            {% when 'print_content' %}
                            <div class="col-3 content {{ forloop.index0 }}">
                              {% if block.settings.print_content != blank %}
                                <p>{{ block.settings.print_content }}</p>
                              {% endif %}
                            </div>
                          {% endcase %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if block.settings.heading == "Products" %}
              <div class="row">
                <div class="col-3 side-bar-row">
                  <div class="side-bar">
                    <nav class="navigation">
                      <ul>
                        <li>
                          {%- for block in section.blocks -%}
                            {% case block.type %}
                              {% when 'products_headings' %}
                              {% if block.settings.products_title != blank %}
                                <a href="#{{ block.settings.products_title | replace: ' ','_' }}" class="{% if forloop.index == 1 %} active {% endif %}">{{ block.settings.products_title }}</a>
                              {% endif %}
                            {% endcase %}
                          {% endfor %}
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-9">
                  <div class="right-section">
                    <div class="main-content">
                      <div class="row">
                        {%- for block in section.blocks -%}
                          {% case block.type %}
                            {% when 'products_headings' %}
                            {% if block.settings.products_subtitle != blank %}
                              <div class="col-md-12 stockists-right-section {% unless block.settings.products_subtitle != blank %} no_headings {% endunless %} {% if forloop.index == 1 %}active{% endif %}" id="{{ block.settings.products_title | replace: ' ','_' }}">
                                {% if block.settings.products_subtitle != blank %}
                                  <h2>{{ block.settings.products_subtitle }}</h2>
                                {% endif %}
                              </div>
                            {% endif %}
                            {% when 'products_content' %}
                            <div class="col-3">
                              {% if block.settings.products_content != blank %}
                                <p>{{ block.settings.products_content }}</p>
                              {% endif %}
                            </div>
                          {% endcase %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endcase %}
      {%- endfor -%}
    </div>
  </section>
  {% schema %}
    {
      "name": "Stockists Head",
      "tag": "section",
      "settings": [],
      "blocks": [
        {
          "type": "tab_headings",
          "name": "Tab Headings",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            }
          ]
        },
        {
          "type": "print_headings",
          "name": "Print Headings",
          "settings": [
            {
              "type": "text",
              "id": "print_title",
              "label": "Print Title"
            }, {
              "type": "text",
              "id": "print_subtitle",
              "label": "Print Subtitle"
            }, {
              "type": "richtext",
              "id": "print_information",
              "label": "Print Information"
            }
          ]
        },
        {
          "type": "print_content",
          "name": "Print content",
          "settings": [
            {
              "type": "text",
              "id": "print_content",
              "label": "Print content"
            }
          ]
        },
        {
          "type": "products_headings",
          "name": "Products Headings",
          "settings": [
            {
              "type": "text",
              "id": "products_title",
              "label": "Products Title"
            }, {
              "type": "text",
              "id": "products_subtitle",
              "label": "Products Subtitle"
            }, {
              "type": "richtext",
              "id": "products_information",
              "label": "Products Information"
            }
          ]
        }, {
          "type": "products_content",
          "name": "Products content",
          "settings": [
            {
              "type": "text",
              "id": "products_content",
              "label": "Products content"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Stockists Head"
        }
      ]
    }
  {% endschema %}